<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Makes the loading of google fonts non-render blocking -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link rel="stylesheet" href="../styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DT207G-Moment 1</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="..">Homepage</a>
        </li>
        <li>
          <a href="../add-course/">Add course</a>
        </li>
        <li>
          <a href=".">About</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Om</h1>
      <h2>Teknisk info</h2>
      <p>
        Denna fullstack app representerar en snabblösning av uppgiften där jag
        har kombinerat frontend och backend kod från mitt tidigare försök. Denna
        app körs via Azure tillsammans med min Microsoft SQL Server db. Det enda
        som kostar är databas-servern men jag använder mig av Azures gratis
        krediter för studenter så jag betalar ingenting. Men även då så kostar
        en db-server typ 50kr i månaden (5$ för det billigaste alternativet)
        vilket är rätt så värt om du bara vill ha något som fungerar.
      </p>
      <p>
        Det jag har lärt mig från mitt tidigare försök hittar du här:
        <a href="https://robinhawiz.github.io/DT207G-moment1-frontend/about/"
          >https://robinhawiz.github.io/DT207G-moment1-frontend/about/</a
        >. Utöver det jag har lärt mig sedan tidigare är hur man skapar en
        fullstack webbapp med en view engine som kallas EJS. Och att Form
        element inte stödjer PUT och DELETE metoder.
      </p>
    </main>
  </body>
</html>
